@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/*
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("../fonts/PTS55F.ttf") ;
}
*/



/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 *{
	margin: 0;
	padding: 0;
 }

.clear{
    clear: both;
}

.left{
    float: left;
    display: block;
}

.right{
    float: right;
    display: block;
}

/*
-----------------------------------------------------------------------------
Header
-----------------------------------------------------------------------------  */
body{
    font: 14px 'PT Sans', sans-serif;
    /*background: #000;*/
}


.id-header-outer-wrapper{
    background: #000;
    height: 95px;
}

.id-header-inner-wrapper{
    width: 822px;
    margin: 0 auto;
    padding-top: 1px;
}

.id-header-logotip{
    width: 227px;
    height: 61px;
    margin-top: 21px;
    margin-right: 66px;
}

.id-header-logotip a{
    display: block;
    width: 227px;
    height: 61px;
    background: url("../img/logo.png") no-repeat;
}

.id-header-center-wrapper{
    margin-top: 20px;
}

.id-header-menu{
    margin-bottom: 8px;
}

.id-header-menu p a{
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}

.id-terms-of-delivery{
    background: url("../img/delivery.svg") no-repeat 0 0;
    background-size: 37px auto;
    padding-left: 40px;
    width: 54px;
    margin-right: 10px;
}

.id-payment-system{
    background: url("../img/payment_system.svg") no-repeat 0 4px;
    background-size: 25px auto;
    padding-left: 26px;
    width: 42px;
    margin-right: 10px;
}

.id-order-status{
    background: url("../img/order_status.svg") no-repeat 0 4px;
    background-size: 25px auto;
    padding-left: 31px;
    width: 32px;
    margin-right: 10px;
}

.id-ask-question{
    background: url("../img/ask_question.svg") no-repeat 0 4px;
    background-size: 26px auto;
    padding-left: 29px;
    width: 36px;
    margin-right: 10px;
}

.id-private-office{
    background: url("../img/private_office.svg") no-repeat 0 3px;
    background-size: 27px auto;
    padding-left: 32px;
    width: 42px;
    margin-right: 0;
}
.id-header-search{
    position: relative;
}

.id-header-search input[type="text"]{
    width: 404px;
    height: 13px;
}

.id-header-search input[type="submit"]{
    border: 0;
    background: url("../img/search.svg") no-repeat;
    width: 14px;
    position: absolute;
    top: 2px;
    left: 387px;
}

.id-basket-wrapper{
    margin-left: 10px;
    margin-top: 19px;
    width: 108px;
}

.id-basket-wrapper .telefon a, .id-basket-wrapper .id-total{
    font-size: 12px;
    color: #007bbb;
    text-decoration: none;
}

.id-basket{
    background: url("../img/basket.svg") no-repeat 0 3px;
    background-size: 23px auto;
    padding-left: 28px;
    padding-top: 9px;
    margin-top: 1px;
    height: 22px;
}

.id-basket a{
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

.id-basket-wrapper .id-total{
    padding-left: 6px;
}




























































/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

