/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 *{
	margin: 0;
	padding: 0;
 }

.clear{
    clear: both;
}

.left{
    float: left;
    display: block;
}

.right{
    float: right;
    display: block;
}

/*
-----------------------------------------------------------------------------
Header
-----------------------------------------------------------------------------  */
body{
    font: 14px PT Sans Regular, sans-serif;
    /*background: #000;*/
}


#header-outer-wrapper{
    background: #000;
    height: 95px;
}

#header-inner-wrapper{
    width: 822px;
    margin: 0 auto;
    padding-top: 1px;
}

#header-logotip{
    width: 227px;
    height: 61px;
    margin-top: 21px;
    margin-right: 68px;
}

#header-center-wrapper{
    margin-top: 19px;
}

#header-menu{
    margin-bottom: 13px;
}

#header-menu p a{
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}

#terms-of-delivery{
    background: url("../img/delivery.png") no-repeat 0px 0px;
    background-size: 38%;
    padding-left: 40px;
    width: 54px;
    margin-right: 10px;
}

#payment-system{
    background: url("../img/payment_system.png") no-repeat 0px 4px;
    background-size: 38%;
    padding-left: 26px;
    width: 42px;
    margin-right: 10px;
}

#order-status{
    background: url("../img/order_status.png") no-repeat 0px 4px;
    background-size: 38%;
    padding-left: 31px;
    width: 32px;
    margin-right: 10px;
}

#ask-question{
    background: url("../img/ask_question.png") no-repeat 0px 4px;
    background-size: 38%;
    padding-left: 29px;
    width: 36px;
    margin-right: 10px;
}

#private-office{
    background: url("../img/private_office.png") no-repeat 0px 4px;
    background-size: 38%;
    padding-left: 32px;
    width: 42px;
    margin-right: 0px;
}

#header-search{
    position: relative;
}

#header-search input[type="text"]{
    width: 404px;
    height: 13px;
}

#header-search input[type="image"]{
    position: absolute;
    top: 1px;
    left: 384px;
}

#basket-wrapper{
    margin-left: 10px;
    margin-top: 21px;
    width: 108px;
}

#basket-wrapper .telefon, #basket-wrapper #total{
    font-size: 12.5px;
    color: #007bbb;
}

#basket{
    background: url("../img/basket.png") no-repeat 0px 3px;
    background-size: 23%;
    padding-left: 28px;
    padding-top: 8px;
    margin-top: 7px;
    height: 22px;
}

#basket a{
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

#basket-wrapper #total{
    padding-left: 6px;
}




























































/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
